@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 211, 216, 232;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #0d1224;
}

::selection {
    background-color: rgba(139, 92, 246, 0.3);
    color: #fff;
}

.sticky-card {
    top: calc(var(--index) * 2.5rem);
}

@media (min-width: 1024px) {
    .sticky-card {
        top: calc(var(--index) * 3rem);
    }
}
